<div class="container">
	<article id="main" class="special">
		<header>
			<br>
			<h2>DASHBOARD!</h2>
			<br>
			<h3>We will sensure the word "YOUR MOM" (in content section) because nobody can talk of my mommy.</h3>
			<p>All the posts are here!</p>
		</header>
		<nav class="navbar navbar-light">
			<a class="navbar-brand">You can search a post using title!</a>
			<form class="form-inline">
				<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="title">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
		</nav>
		<div>
			<% @posts.each do |post| %>
				<div>
					<hr>
					<h2><%= post.title %></h2>
					<br>
					<div>
						<% if post.image_url.include?("http") %>
							<%= image_tag(post.image_url) %>
						<% else %>
							<%= image_tag("https://png.pngitem.com/pimgs/s/296-2968857_pixel-art-black-and-white-hd-png-download.png") %>
						<% end %>
					</div>
					<div>
						<% if post.content.include? "YOUR MOM" %>
							<% post.content["YOUR MOM"] = "" %>
							<p><%= post.content %></p>
						<% else %>
							<p><%= post.content %></p>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
		<br>
    </article>
</div>
